<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h2>{{problem}}</h2>
            <p>{{solution}}</p>            
        </div>
        {{>footer}}
    </body>
</html>