<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>
            <form id="weather-form">
                <input id="location" placeholder='Location'>
                <button>Search</button>
            </form>

            <p id="error"/>
            <div class="weather-info">
                <img id="weather-icon"/>
                <p id="weather-description"/>
            </div>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>